<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FinanceApp - Iniciar Sesión</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" />
    <style>
      .pt-serif-regular {
        font-family: 'PT Serif', serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .pt-serif-bold {
        font-family: 'PT Serif', serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .pt-serif-regular-italic {
        font-family: 'PT Serif', serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .pt-serif-bold-italic {
        font-family: 'PT Serif', serif;
        font-weight: 700;
        font-style: italic;
      }
    </style>
  </head>

  <body class="flex items-center justify-center min-h-screen bg-gray-50">
    <div class="w-full h-full flex items-center justify-center p-4 sm:h-auto sm:p-0">
      <div class="w-full max-w-md bg-white rounded-2xl shadow-lg p-6 sm:p-8">
        <!-- Logo -->
        <div class="flex justify-center mb-6">
          <div class="flex items-center space-x-2">
            <span class="text-2xl">💳</span>
            <h1 class="text-xl font-semibold">FinanceApp</h1>
          </div>
        </div>

        <!-- Tabs -->
        <div class="flex justify-center mb-6 border-b border-gray-200">
          <a href="{% url 'accounts:login' %}"><button class="px-4 py-2 text-sm font-medium text-gray-500 hover:text-gray-700 focus:outline-none">Iniciar Sesión</button></a>
          <a href="{% url 'accounts:register' %}"><button class="px-4 py-2 text-sm font-medium text-gray-900 border-b-2 border-gray-900 focus:outline-none">Registrarse</button></a>
        </div>

        <!-- Form -->
        <form class="space-y-4" method="post" action="{% url 'accounts:register' %}">
          {% csrf_token %}
          <div>
            <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
            <input type="name" id="name" name="name" placeholder="tu@email.com" class="mt-1 block w-full rounded-lg border border-gray-300 px-3 py-2 text-sm focus:border-blue-500 focus:ring-blue-500 outline-none" />
          </div>

          <div>
            <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
            <input type="email" id="email" name="email" placeholder="tu@email.com" class="mt-1 block w-full rounded-lg border border-gray-300 px-3 py-2 text-sm focus:border-blue-500 focus:ring-blue-500 outline-none" />
          </div>

          <div>
            <label for="password1" class="block text-sm font-medium text-gray-700">Contraseña</label>
            <div class="flex justify-between items-center border border-gray-300 rounded-lg overflow-hidden">
              <input type="password" name="password1" id="password1" class="text-sm pt-serif-regular w-full px-3 py-2 focus:outline-none focus:ring focus:border-blue-300" placeholder="••••••••" />
              <button type="button" onclick="togglePassword('password1','show_password1','hide_password1')" class="bg-gray-200 p-3 w-10 h-full hover:bg-gray-300 active:bg-gray-400 transition text-gray-600">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4" id="show_password1">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 hidden" id="hide_password1">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                </svg>
              </button>
            </div>
          </div>

          <div>
            <label for="password2" class="block text-sm font-medium text-gray-700">Confirmar Contraseña</label>
            <div class="flex justify-between items-center border border-gray-300 rounded-lg overflow-hidden">
              <input type="password" name="password2" id="password2" class="text-sm pt-serif-regular w-full px-3 py-2 focus:outline-none focus:ring focus:border-blue-300" placeholder="••••••••" />
              <button type="button" onclick="togglePassword('password2','show_password2','hide_password2')" class="bg-gray-200 p-3 w-10 h-full hover:bg-gray-300 active:bg-gray-400 transition text-gray-600">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4" id="show_password2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 hidden" id="hide_password2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                </svg>
              </button>
            </div>
          </div>

          <button type="submit" class="w-full bg-gray-900 text-white py-2 rounded-lg font-medium hover:bg-gray-800 transition">Registrarse</button>
        </form>
      </div>
    </div>

    <script>
      function togglePassword(inputId, ShowIconId, HideIconId) {
        const input = document.getElementById(inputId)
        const ShowIcon = document.getElementById(ShowIconId)
        const HideIcon = document.getElementById(HideIconId)
      
        if (input.type === 'password') {
          input.type = 'text'
          ShowIcon.classList.add('hidden')
          HideIcon.classList.remove('hidden')
        } else {
          input.type = 'password'
          ShowIcon.classList.remove('hidden')
          HideIcon.classList.add('hidden')
        }
      }
    </script>
  </body>
</html>
