{% load humanize %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categorías</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" />
    <style>
      .pt-serif-regular {
        font-family: 'PT Serif', serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .pt-serif-bold {
        font-family: 'PT Serif', serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .pt-serif-regular-italic {
        font-family: 'PT Serif', serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .pt-serif-bold-italic {
        font-family: 'PT Serif', serif;
        font-weight: 700;
        font-style: italic;
      }
    </style>
  </head>

  <body class="bg-gray-50">
    <div class="flex h-screen">
      <!-- Sidebar -->
      {% include 'expense_income/menu.html' %}

      <!-- Main content -->
      <main class="flex-1 p-8 overflow-y-auto">
        <div class="flex items-center justify-between mb-6">
          <div>
            <h1 class="pt-serif-bold text-2xl font-bold text-gray-800">Perfil de Usuario</h1>
            <p class="pt-serif-regular text-gray-500 text-sm">Administra tu cuenta y preferencias</p>
          </div>
        </div>
        <div class="grid grid-cols-3 space-x-6">
          <div class="col-span-2">
            <!-- Form Personal Information -->
            <div class="bg-white p-6 rounded-lg shadow-sm">
              <h2 class="pt-serif-regular text-lg text-gray-800">Información Personal</h2>
              <div class="flex items-center space-x-6 mt-4">
                <img src="" alt="Imagen de perfil" class="pt-serif-regular text-[12px] w-16 h-16 rounded-full bg-gray-200" />
                <div class="flex items-center justify-between">
                  <label for="upload" class="pt-serif-regular cursor-pointer inline-flex items-center px-3 py-1 bg-gray-200 text-gray-700 text-[12px] font-medium rounded-md shadow hover:bg-gray-300 transition">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-3 mr-2">
                      <path d="M12 9a3.75 3.75 0 1 0 0 7.5A3.75 3.75 0 0 0 12 9Z" />
                      <path fill-rule="evenodd" d="M9.344 3.071a49.52 49.52 0 0 1 5.312 0c.967.052 1.83.585 2.332 1.39l.821 1.317c.24.383.645.643 1.11.71.386.054.77.113 1.152.177 1.432.239 2.429 1.493 2.429 2.909V18a3 3 0 0 1-3 3h-15a3 3 0 0 1-3-3V9.574c0-1.416.997-2.67 2.429-2.909.382-.064.766-.123 1.151-.178a1.56 1.56 0 0 0 1.11-.71l.822-1.315a2.942 2.942 0 0 1 2.332-1.39ZM6.75 12.75a5.25 5.25 0 1 1 10.5 0 5.25 5.25 0 0 1-10.5 0Zm12-1.5a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd" />
                    </svg>Cambiar foto
                  </label>
                  <input id="upload" type="file" accept="image/*" class="hidden" />
                </div>
              </div>
              <div class="pt-4">
                <form id="profileForm" method="post" action="{% url 'accounts:update_user' %}">
                  {% csrf_token %}
                  <div class="flex gap-4">
                    <div class="flex-1 mb-4">
                      <label class="pt-serif-bold block text-sm font-medium mb-1">Nombre</label>
                      <input value="{{ user.name }}" type="text" name="username" id="username" class="text-sm pt-serif-regular w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring focus:border-blue-300" placeholder="Ej: Juan..." />
                    </div>
                    <div class="flex-1 mb-4">
                      <label class="pt-serif-bold block text-sm font-medium mb-1">Email</label>
                      <input value="{{ user.email }}" type="email" name="email" id="email" class="text-sm pt-serif-regular w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring focus:border-blue-300" placeholder="Ej: Juan@example.com..." />
                    </div>
                  </div>

                  <button type="submit" id="submitBtn" class="text-sm pt-serif-regular bg-gray-800 text-white px-4 py-2 rounded-lg shadow">Guardar Cambios</button>
                </form>
              </div>
            </div>

            <!-- Form update password -->
            <div class="bg-white p-6 rounded-lg shadow-sm mt-4">
              <h2 class="pt-serif-regular text-lg text-gray-800">Cambiar Contraseña</h2>

              <div class="pt-4">
                <form id="profileForm" method="post" action="{% url 'accounts:update_password' %}">
                  {% csrf_token %}
                  <div class="grid flex-col gap-4">
                    <div class="mb-4">
                      <label class="pt-serif-bold block text-sm font-medium mb-1">Contraseña Actual</label>
                      <div class="flex justify-between items-center border border-gray-300 rounded-lg overflow-hidden">
                        <input type="password" name="current_password" id="current_password" class="text-sm pt-serif-regular w-full px-3 py-2 focus:outline-none focus:ring focus:border-blue-300" />
                        <button type="button" onclick="togglePassword('current_password','show_current','hide_current')" class="bg-gray-200 p-3 w-10 h-full hover:bg-gray-300 active:bg-gray-400 transition text-gray-600">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4" id="show_current">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                          </svg>
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 hidden" id="hide_current">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                          </svg>
                        </button>
                      </div>
                    </div>
                    <div class="mb-4">
                      <label class="pt-serif-bold block text-sm font-medium mb-1">Nueva Contraseña</label>
                      <div class="flex justify-between items-center border border-gray-300 rounded-lg overflow-hidden">
                        <input type="password" name="new_password" id="new_password" class="text-sm pt-serif-regular w-full px-3 py-2 focus:outline-none focus:ring focus:border-blue-300" />
                        <button type="button" onclick="togglePassword('new_password','show_new','hide_new')" class="bg-gray-200 p-3 w-10 h-full hover:bg-gray-300 active:bg-gray-400 transition text-gray-600">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4" id="show_new">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                          </svg>
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 hidden" id="hide_new">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                          </svg>
                        </button>
                      </div>
                    </div>
                    <div class="mb-4">
                      <label class="pt-serif-bold block text-sm font-medium mb-1">Confirmar nueva contraseña</label>
                      <div class="flex justify-between items-center border border-gray-300 rounded-lg overflow-hidden">
                        <input type="password" name="confirm_password" id="confirm_password" class="text-sm pt-serif-regular w-full px-3 py-2 focus:outline-none focus:ring focus:border-blue-300" />
                        <button type="button" onclick="togglePassword('confirm_password','show_confirm','hide_confirm')" class="bg-gray-200 p-3 w-10 h-full hover:bg-gray-300 active:bg-gray-400 transition text-gray-600">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4" id="show_confirm">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                          </svg>
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 hidden" id="hide_confirm">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>

                  <button type="submit" id="submitBtn" class="text-sm pt-serif-regular bg-gray-800 text-white px-4 py-2 rounded-lg shadow">Actualizar Contraseña</button>
                </form>
              </div>
            </div>
          </div>

          <div class="col-span-1 bg-white p-6 rounded-lg shadow-sm h-auto self-start">
            <h2 class="pt-serif-regular text-lg text-gray-800">Acciones de la cuenta</h2>

            <div class="pt-4 flex flex-col gap-2">
              <a href=""><button type="submit" id="submitBtn" class="w-full text-sm pt-serif-regular bg-gray-200 text-gray-800 px-4 py-2 rounded-lg shadow">Exportar Datos</button></a>
              <a href=""><button type="submit" id="submitBtn" class="w-full text-sm pt-serif-regular bg-gray-200 text-gray-800 px-4 py-2 rounded-lg shadow">Eliminar Cuenta</button></a>
              <a href="{% url 'accounts:logout' %}"><button class="w-full text-sm pt-serif-regular bg-gray-800 text-white px-4 py-2 rounded-lg shadow">Cerrar Sesión</button></a>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script>
      function togglePassword(inputId, ShowIconId, HideIconId) {
        const input = document.getElementById(inputId)
        const ShowIcon = document.getElementById(ShowIconId)
        const HideIcon = document.getElementById(HideIconId)
      
        if (input.type === 'password') {
          input.type = 'text'
          ShowIcon.classList.add('hidden')
          HideIcon.classList.remove('hidden')
        } else {
          input.type = 'password'
          ShowIcon.classList.remove('hidden')
          HideIcon.classList.add('hidden')
        }
      }
    </script>
  </body>
</html>
