<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categorías</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" />
    <style>
      .pt-serif-regular {
        font-family: 'PT Serif', serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .pt-serif-bold {
        font-family: 'PT Serif', serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .pt-serif-regular-italic {
        font-family: 'PT Serif', serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .pt-serif-bold-italic {
        font-family: 'PT Serif', serif;
        font-weight: 700;
        font-style: italic;
      }
    </style>
  </head>

  <body class="bg-gray-50">
    <div class="flex h-screen">
      <!-- Sidebar -->
      {% include './menu.html' %}

      <!-- Main content -->
      <main class="flex-1 p-8 overflow-y-auto">
        <div class="flex items-center justify-between mb-6">
          <div>
            <h1 class="pt-serif-bold text-2xl font-bold text-gray-800">Categorías</h1>
            <p class="pt-serif-regular text-gray-500 text-sm">Administra las categorías de ingresos y gastos</p>
          </div>
          <button id="openModalBtn" class="pt-serif-regular flex item-center bg-black text-white text-sm px-3 py-2 rounded-md hover:bg-gray-800">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="size-5 mr-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>Nueva Categoría
          </button>
        </div>
        <!-- Income Category -->
        <section>
          <div class="bg-white border border-gray-300 p-4 rounded-2xl">
            <div class="border-b border-gray-300 mb-4">
              {% if order_income == 'asc' %}
                <a href="{% url 'expense_income:category' %}?order_income=desc">
                  <button>
                    <h2 class="text-base font-semibold mb-4 flex items-center space-x-2">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="size-4 text-gray-700 down-btn">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3" />
                      </svg>
                      <span class="pt-serif-regular">Categorías de Ingreso</span>
                    </h2>
                  </button>
                </a>
              {% else %}
                <a href="{% url 'expense_income:category' %}?order_income=asc">
                  <button>
                    <h2 class="text-base font-semibold mb-4 flex items-center space-x-2">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="size-4 text-gray-700 up-btn">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18" />
                      </svg>
                      <span class="pt-serif-regular">Categorías de Ingreso</span>
                    </h2>
                  </button>
                </a>
              {% endif %}
            </div>
            <div class="space-y-2">
              {% if not categories_income %}
                <div class="flex justify-center">
                  <p class="pt-serif-regular text-gray-400 text-base">No hay categorías de ingreso</p>
                </div>
              {% else %}
                {% for category in categories_income %}
                  <div class="flex items-center justify-between bg-white p-4 rounded-lg shadow-sm border">
                    <div class="flex items-center space-x-3">
                      <div>
                        <p class="pt-serif-regular text-gray-700">{{ category }}</p>
                      </div>
                    </div>
                    <div class="flex items-center space-x-2 text-gray-500">
                      <span class="edit-btn" data-url="{% url 'expense_income:edit_category' category.id_category %}" data-name="{{ category.name_category }}" data-type="{{ category.type_category }}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                          <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                          <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                        </svg>
                      </span>
                      <span class="remove-btn" data-url="{% url 'expense_income:remove_category' category.id_category %}" data-name="{{ category.name_category }}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                          <path d="M3.375 3C2.339 3 1.5 3.84 1.5 4.875v.75c0 1.036.84 1.875 1.875 1.875h17.25c1.035 0 1.875-.84 1.875-1.875v-.75C22.5 3.839 21.66 3 20.625 3H3.375Z" />
                          <path fill-rule="evenodd" d="m3.087 9 .54 9.176A3 3 0 0 0 6.62 21h10.757a3 3 0 0 0 2.995-2.824L20.913 9H3.087Zm6.133 2.845a.75.75 0 0 1 1.06 0l1.72 1.72 1.72-1.72a.75.75 0 1 1 1.06 1.06l-1.72 1.72 1.72 1.72a.75.75 0 1 1-1.06 1.06L12 15.685l-1.72 1.72a.75.75 0 1 1-1.06-1.06l1.72-1.72-1.72-1.72a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                        </svg>
                      </span>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </section>

        <!-- Expense Category -->
        <section class="mt-4">
          <div class="bg-white border border-gray-300 p-4 rounded-2xl">
            <div class="border-b border-gray-300 mb-4">
              {% if order_expense == 'asc' %}
                <a href="{% url 'expense_income:category' %}?order_expense=desc">
                  <button>
                    <h2 class="text-base font-semibold mb-4 flex items-center space-x-2">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="size-4 text-gray-700 down-btn">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3" />
                      </svg>
                      <span class="pt-serif-regular">Categorías de gasto</span>
                    </h2>
                  </button>
                </a>
              {% else %}
                <a href="{% url 'expense_income:category' %}?order_expense=asc">
                  <button>
                    <h2 class="text-base font-semibold mb-4 flex items-center space-x-2">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="size-4 text-gray-700 up-btn">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18" />
                      </svg>
                      <span class="pt-serif-regular">Categorías de gasto</span>
                    </h2>
                  </button>
                </a>
              {% endif %}
            </div>
            <div class="space-y-2">
              {% if not categories_expense %}
                <div class="flex justify-center">
                  <p class="pt-serif-regular text-gray-400 text-base">No hay categorías de gasto</p>
                </div>
              {% else %}
                {% for category in categories_expense %}
                  <div class="flex items-center justify-between bg-white p-4 rounded-lg shadow-sm border">
                    <div class="flex items-center space-x-3">
                      <div>
                        <p class="pt-serif-regular text-gray-700">{{ category }}</p>
                      </div>
                    </div>
                    <div class="flex items-center space-x-2 text-gray-500">
                      <span class="edit-btn" data-url="{% url 'expense_income:edit_category' category.id_category %}" data-name="{{ category.name_category }}" data-type="{{ category.type_category }}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                          <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                          <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                        </svg>
                      </span>
                      <span class="remove-btn" data-url="{% url 'expense_income:remove_category' category.id_category %}" data-name="{{ category.name_category }}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                          <path d="M3.375 3C2.339 3 1.5 3.84 1.5 4.875v.75c0 1.036.84 1.875 1.875 1.875h17.25c1.035 0 1.875-.84 1.875-1.875v-.75C22.5 3.839 21.66 3 20.625 3H3.375Z" />
                          <path fill-rule="evenodd" d="m3.087 9 .54 9.176A3 3 0 0 0 6.62 21h10.757a3 3 0 0 0 2.995-2.824L20.913 9H3.087Zm6.133 2.845a.75.75 0 0 1 1.06 0l1.72 1.72 1.72-1.72a.75.75 0 1 1 1.06 1.06l-1.72 1.72 1.72 1.72a.75.75 0 1 1-1.06 1.06L12 15.685l-1.72 1.72a.75.75 0 1 1-1.06-1.06l1.72-1.72-1.72-1.72a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                        </svg>
                      </span>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </section>
      </main>
    </div>

    <!-- Modal Add/Edit Category -->
    <div id="categoryModal" class="hidden">
      <!-- Modal -->
      <div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
        <div class="bg-white rounded-lg shadow-lg w-full max-w-md p-6 relative">
          <button id="closeModalBtn" class="absolute top-2 right-2 text-gray-500 hover:text-gray-800">✕</button>
          <h2 class="pt-serif-bold text-xl mb-4">Crear Nueva Categoría</h2>
          <form id="categoryForm" method="post">
            {% csrf_token %}
            <div class="mb-4">
              <label class="pt-serif-bold block text-sm font-medium mb-1">Nombre de la categoría</label>
              <input type="text" name="category_name" id="category_name" class="text-sm pt-serif-regular w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring focus:border-blue-300" placeholder="Ej: Comida, Transporte..." />
            </div>
            <div class="mb-4">
              <label class="pt-serif-bold block text-sm font-medium mb-1">Tipo</label>
              <select name="category_type" id="category_type" class="text-sm pt-serif-regular w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring focus:border-blue-300">
                {% for value, label in choices_category %}
                  <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
              </select>
            </div>
            <button type="submit" id="submitBtn" class="pt-serif-regular bg-green-400 text-white px-4 py-2 rounded-lg shadow w-full"></button>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal Remove Category -->
    <div id="categoryModalDelete" class="hidden">
      <!-- Modal -->
      <div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
        <div class="bg-white rounded-lg shadow-lg w-full max-w-md p-6 relative">
          <button id="closeModalDeleteBtn" class="absolute top-2 right-2 text-gray-500 hover:text-gray-800">✕</button>
          <h2 class="pt-serif-bold text-xl mb-4">Eliminar Categoría</h2>
          <div class="mb-4">
            <label id="info-remove" class="pt-serif-regular block text-sm font-medium mb-4"></label>
            <a href="" id="remove-item"><button type="submit" id="submitBtn" class="pt-serif-regular bg-red-400 text-white px-4 py-2 rounded-lg shadow w-full">Eliminar</button></a>
          </div>
        </div>
      </div>
    </div>

    <script>
      //Add/Edit
      const modal = document.getElementById('categoryModal')
      const openModalBtn = document.getElementById('openModalBtn')
      const closeModalBtn = document.getElementById('closeModalBtn')
      const categoryForm = document.getElementById('categoryForm')
      const categoryNameInput = document.getElementById('category_name')
      const categoryTypeSelect = document.getElementById('category_type')
      const submitBtn = document.getElementById('submitBtn')
      
      openModalBtn.addEventListener('click', () => {
        categoryForm.action = "{% url 'expense_income:create_category' %}"
        submitBtn.textContent = 'Guardar'
        categoryNameInput.value = ''
        categoryTypeSelect.value = ''
        modal.classList.remove('hidden')
      })
      
      document.querySelectorAll('.edit-btn').forEach((btn) => {
        btn.addEventListener('click', () => {
          const url = btn.getAttribute('data-url')
          const name = btn.getAttribute('data-name')
          const type = btn.getAttribute('data-type')
      
          categoryForm.action = url
          submitBtn.textContent = 'Actualizar'
          categoryNameInput.value = name
          categoryTypeSelect.value = type
          modal.classList.remove('hidden')
        })
      })
      
      closeModalBtn.addEventListener('click', () => {
        modal.classList.add('hidden')
      })
      
      window.addEventListener('click', (e) => {
        if (e.target === modal) {
          modal.classList.add('hidden')
          modalDelete.classList.add('hidden')
        }
      })
      
      //Remove
      const modalDelete = document.getElementById('categoryModalDelete')
      const openModalDeleteBtn = document.getElementsByName('remove-btn')
      const removeItem = document.getElementById('remove-item')
      const infoRemove = document.getElementById('info-remove')
      const closeModalDeleteBtn = document.getElementById('closeModalDeleteBtn')
      
      document.querySelectorAll('.remove-btn').forEach((btn) => {
        btn.addEventListener('click', () => {
          const url = btn.getAttribute('data-url')
          const name = btn.getAttribute('data-name')
      
          infoRemove.textContent = 'Selecciona confirmar para eliminar la categoría ' + name
          removeItem.setAttribute('href', url)
      
          modalDelete.classList.remove('hidden')
        })
      })
      
      closeModalDeleteBtn.addEventListener('click', () => {
        modalDelete.classList.add('hidden')
      })
    </script>
  </body>
</html>
