<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categorías</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" />
    <style>
      .pt-serif-regular {
        font-family: 'PT Serif', serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .pt-serif-bold {
        font-family: 'PT Serif', serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .pt-serif-regular-italic {
        font-family: 'PT Serif', serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .pt-serif-bold-italic {
        font-family: 'PT Serif', serif;
        font-weight: 700;
        font-style: italic;
      }
    </style>
  </head>

  <body class="bg-gray-50">
    <div class="flex h-screen">
      <!-- Sidebar -->
      {% include './menu.html' %}

      <!-- Main content -->
      <main class="flex-1 p-8 overflow-y-auto">
        <div class="flex items-center justify-between mb-6">
          <div>
            <h1 class="pt-serif-bold text-2xl font-bold text-gray-800">Transacciones</h1>
            <p class="pt-serif-regular text-gray-500 text-sm">Administra tus ingresos y gastos</p>
          </div>
          <button id="openModalBtn" class="pt-serif-regular flex item-center bg-black text-white text-sm px-3 py-2 rounded-md hover:bg-gray-800">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="size-5 mr-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>Nueva Transacción
          </button>
        </div>
        <!-- Income Category -->
        <!--                                                                                                                                                           <section>
          <div class="bg-white border border-gray-300 p-4 rounded-2xl">
            <div class="border-b border-gray-300 mb-4">
              {% if order_income == 'asc' %}
                <a href="{% url 'expense_income:category' %}?order_income=desc">
                  <button>
                    <h2 class="text-base font-semibold mb-4 flex items-center space-x-2">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="size-4 text-gray-700 down-btn">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3" />
                      </svg>
                      <span class="pt-serif-regular">Categorías de Ingreso</span>
                    </h2>
                  </button>
                </a>
              {% else %}
                <a href="{% url 'expense_income:category' %}?order_income=asc">
                  <button>
                    <h2 class="text-base font-semibold mb-4 flex items-center space-x-2">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="size-4 text-gray-700 up-btn">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18" />
                      </svg>
                      <span class="pt-serif-regular">Categorías de Ingreso</span>
                    </h2>
                  </button>
                </a>
              {% endif %}
            </div>
            <div class="space-y-2">
              {% if not categories_income %}
                <div class="flex justify-center">
                  <p class="pt-serif-regular text-gray-400 text-base">No hay categorías de ingreso</p>
                </div>
              {% else %}
                {% for category in categories_income %}
                  <div class="flex items-center justify-between bg-white p-4 rounded-lg shadow-sm border">
                    <div class="flex items-center space-x-3">
                      <div>
                        <p class="pt-serif-regular text-gray-700">{{ category }}</p>
                      </div>
                    </div>
                    <div class="flex items-center space-x-2 text-gray-500">
                      <span class="edit-btn" data-url="{% url 'expense_income:edit_category' category.id_category %}" data-name="{{ category.name_category }}" data-type="{{ category.type_category }}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                          <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                          <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                        </svg>
                      </span>
                      <span class="remove-btn" data-url="{% url 'expense_income:remove_category' category.id_category %}" data-name="{{ category.name_category }}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                          <path d="M3.375 3C2.339 3 1.5 3.84 1.5 4.875v.75c0 1.036.84 1.875 1.875 1.875h17.25c1.035 0 1.875-.84 1.875-1.875v-.75C22.5 3.839 21.66 3 20.625 3H3.375Z" />
                          <path fill-rule="evenodd" d="m3.087 9 .54 9.176A3 3 0 0 0 6.62 21h10.757a3 3 0 0 0 2.995-2.824L20.913 9H3.087Zm6.133 2.845a.75.75 0 0 1 1.06 0l1.72 1.72 1.72-1.72a.75.75 0 1 1 1.06 1.06l-1.72 1.72 1.72 1.72a.75.75 0 1 1-1.06 1.06L12 15.685l-1.72 1.72a.75.75 0 1 1-1.06-1.06l1.72-1.72-1.72-1.72a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                        </svg>
                      </span>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </section>                                                                                                                                                           -->

        <!-- Expense Category -->
        <section class="mt-4">
          <div class="bg-white border border-gray-300 p-4 rounded-2xl">
            <div class="border-b border-gray-300 mb-4">
              <h2 class="text-base font-semibold mb-4 flex items-center space-x-2"><span class="pt-serif-regular">Lista de transacciones</span></h2>
            </div>
            <div class="space-y-2">
              {% if not transactions %}
                <div class="flex justify-center">
                  <p class="pt-serif-regular text-gray-400 text-base">No hay transacciones</p>
                </div>
              {% else %}
                {% for transaction in transactions %}
                  <div class="flex items-center justify-between relative group inline-block bg-white pt-1 pb-1 pl-4 pr-4 rounded-lg shadow-sm border">
                    <div class="flex items-center space-x-2">
                      {% if transaction.category.type_category == category_expense %}
                        <div class="flex justify-center items-center box-border bg-red-300 text-white shadow-lg rounded-2xl w-6 h-6">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="size-3">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3" />
                          </svg>
                        </div>
                      {% else %}
                        <div class="flex justify-center items-center box-border bg-green-300 text-white shadow-lg rounded-2xl w-6 h-6">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="size-3">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18" />
                          </svg>
                        </div>
                      {% endif %}

                      <div>
                        <p class="pt-serif-regular text-sm text-gray-700">{{ transaction.title }}</p>
                        <p class="pt-serif-regular text-[12px] text-gray-400">{{ transaction.date|date:'d-M-Y' }}</p>
                      </div>
                    </div>

                    <div class="flex justify-center items-center space-x-6">
                      <div class="pt-serif-regular text-sm text-gray-500">{{ transaction.category }}</div>
                      <div class="pt-serif-regular text-sm">
                        {% if transaction.category.type_category == category_expense %}
                          -
                        {% else %}
                          +
                        {% endif %}$ {{ transaction.amount }}
                      </div>
                      <div class="flex items-center space-x-2 text-gray-500">
                        <span class="edit-btn" data-url="{% url 'expense_income:edit_transaction' transaction.id_transaction %}" data-title="{{ transaction.title }}" data-method="{{ transaction.payment_method }}" data-category="{{ transaction.category.id_category }}" data-amount="{{ transaction.amount }}" data-notes="{{ transaction.notes }}">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                            <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                            <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                          </svg>
                        </span>
                        <span class="remove-btn" data-url="{% url 'expense_income:remove_transaction' transaction.id_transaction %}" data-title="{{ transaction.title }}">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                            <path d="M3.375 3C2.339 3 1.5 3.84 1.5 4.875v.75c0 1.036.84 1.875 1.875 1.875h17.25c1.035 0 1.875-.84 1.875-1.875v-.75C22.5 3.839 21.66 3 20.625 3H3.375Z" />
                            <path fill-rule="evenodd" d="m3.087 9 .54 9.176A3 3 0 0 0 6.62 21h10.757a3 3 0 0 0 2.995-2.824L20.913 9H3.087Zm6.133 2.845a.75.75 0 0 1 1.06 0l1.72 1.72 1.72-1.72a.75.75 0 1 1 1.06 1.06l-1.72 1.72 1.72 1.72a.75.75 0 1 1-1.06 1.06L12 15.685l-1.72 1.72a.75.75 0 1 1-1.06-1.06l1.72-1.72-1.72-1.72a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                          </svg>
                        </span>
                      </div>
                    </div>
                    <!-- Tooltip -->
                    <div class="text-[12px] absolute bottom-full left-1/2 -translate-x-1/2 mb-2 hidden group-hover:block bg-gray-500 text-white rounded px-2 py-1 shadow-lg">
                      <p class="pt-serif-bold-italic">Notas:</p>
                      {% if transaction.notes %}
                        <p class="pt-serif-regular-italic">{{ transaction.notes }}</p>
                      {% else %}
                        <p class="pt-serif-regular-italic">No hay notas</p>
                      {% endif %}
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </section>
      </main>
    </div>

    <!-- Modal Add/Edit Category -->
    <div id="transactionModal" class="hidden">
      <!-- Modal -->
      <div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
        <div class="bg-white rounded-lg shadow-lg w-full max-w-md p-6 relative">
          <button id="closeModalBtn" class="absolute top-2 right-2 text-gray-500 hover:text-gray-800">✕</button>
          <h2 class="pt-serif-bold text-xl mb-4" id="formTitle"></h2>
          <form id="transactionForm" method="post">
            {% csrf_token %}
            <div class="mb-4">
              <label class="pt-serif-bold block text-sm font-medium mb-1">Titulo</label>
              <input type="text" name="transaction_title" id="transaction_title" class="text-sm pt-serif-regular w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring focus:border-blue-300" placeholder="Ej: Compras, entretenimiento..." />
            </div>
            <div class="flex justify-between space-x-2">
              <div class="flex-1">
                <label class="pt-serif-bold block text-sm font-medium mb-1">Método</label>
                <select name="transaction_method" id="transaction_method" class="text-sm pt-serif-regular w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring focus:border-blue-300">
                  {% for value, label in choices_method %}
                    <option value="{{ value }}">{{ label }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="flex-1">
                <label class="pt-serif-bold block text-sm font-medium mb-1">Categoría</label>
                <select name="transaction_category" id="transaction_category" class="text-sm pt-serif-regular w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring focus:border-blue-300">
                  {% for category in choices_category %}
                    <option value="{{ category.id_category }}">{{ category }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="mb-4">
              <label class="pt-serif-bold block text-sm font-medium mb-1">Monto</label>
              <input type="number" step="0.01" min="0" name="transaction_amount" id="transaction_amount" class="text-sm pt-serif-regular w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring focus:border-blue-300" placeholder="0.00" />
            </div>
            <div class="mb-4">
              <label class="pt-serif-bold block text-sm font-medium mb-1">Notas</label>
              <textarea id="transaction_notes" name="transaction_notes" rows="4" class="text-sm pt-serif-regular w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring focus:border-blue-300" placeholder="Escribe tus notas..."></textarea>
            </div>
            <button type="submit" id="submitBtn" class="pt-serif-regular bg-green-400 text-white px-4 py-2 rounded-lg shadow w-full"></button>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal Remove Category -->
    <div id="transactionModalDelete" class="hidden">
      <!-- Modal -->
      <div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
        <div class="bg-white rounded-lg shadow-lg w-full max-w-md p-6 relative">
          <button id="closeModalDeleteBtn" class="absolute top-2 right-2 text-gray-500 hover:text-gray-800">✕</button>
          <h2 class="pt-serif-bold text-xl mb-4">Eliminar Transacción</h2>
          <div class="mb-4">
            <label id="info-remove" class="pt-serif-regular block text-sm font-medium mb-4"></label>
            <a href="" id="remove-item"><button type="submit" id="submitBtn" class="pt-serif-regular bg-red-400 text-white px-4 py-2 rounded-lg shadow w-full">Confirmar</button></a>
          </div>
        </div>
      </div>
    </div>

    <script>
      //Add/Edit
      const modal = document.getElementById('transactionModal')
      const openModalBtn = document.getElementById('openModalBtn')
      const closeModalBtn = document.getElementById('closeModalBtn')
      const transactionForm = document.getElementById('transactionForm')
      const transactionTitle = document.getElementById('transaction_title')
      const transactionMethod = document.getElementById('transaction_method')
      const transactionCategory = document.getElementById('transaction_category')
      const transactionAmount = document.getElementById('transaction_amount')
      const transactionNotes = document.getElementById('transaction_notes')
      const formTitle = document.getElementById('formTitle')
      const submitBtn = document.getElementById('submitBtn')
      
      openModalBtn.addEventListener('click', () => {
        transactionForm.action = "{% url 'expense_income:create_transaction' %}"
        submitBtn.textContent = 'Guardar'
        transactionTitle.value = ''
        transactionMethod.value = ''
        transactionCategory.value = ''
        transactionAmount.value = ''
        transactionNotes.value = ''
        formTitle.textContent = 'Crear Nueva transacción'
      
        modal.classList.remove('hidden')
      })
      
      document.querySelectorAll('.edit-btn').forEach((btn) => {
        btn.addEventListener('click', () => {
          const url = btn.getAttribute('data-url')
          const title = btn.getAttribute('data-title')
          const method = btn.getAttribute('data-method')
          const category = btn.getAttribute('data-category')
          const amount = btn.getAttribute('data-amount')
          const notes = btn.getAttribute('data-notes')
      
          formTitle.textContent = 'Actualizar Transacción'
          transactionForm.action = url
          submitBtn.textContent = 'Actualizar'
          transactionTitle.value = title
          transactionMethod.value = method
          transactionCategory.value = category
          transactionAmount.value = parseFloat(amount)
          transactionNotes.value = notes
          modal.classList.remove('hidden')
        })
      })
      closeModalBtn.addEventListener('click', () => {
        modal.classList.add('hidden')
      })
      
      window.addEventListener('click', (e) => {
        if (e.target === modal) {
          modal.classList.add('hidden')
        }
      })
      
      //Remove
      const modalDelete = document.getElementById('transactionModalDelete')
      const openModalDeleteBtn = document.getElementsByName('remove-btn')
      const removeItem = document.getElementById('remove-item')
      const infoRemove = document.getElementById('info-remove')
      const closeModalDeleteBtn = document.getElementById('closeModalDeleteBtn')
      
      document.querySelectorAll('.remove-btn').forEach((btn) => {
        btn.addEventListener('click', () => {
          const url = btn.getAttribute('data-url')
          const title = btn.getAttribute('data-title')
      
          infoRemove.textContent = 'Selecciona confirmar para eliminar la transacción ' + title
          removeItem.setAttribute('href', url)
      
          modalDelete.classList.remove('hidden')
        })
      })
      
      closeModalDeleteBtn.addEventListener('click', () => {
        modalDelete.classList.add('hidden')
      })
    </script>
  </body>
</html>
